html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.logo{
    padding: 0 2rem;
    font-size: 3rem;
}
.nav-list{
    display: flex;
}
.nav-list li{
    margin: 0 2rem;
    list-style: none;
}
.nav-list li a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
.nav-list li:hover{
    background-color: grey;
}